<div class="box-header">
    <span class="icon16 user"></span>     
    <h1><%= t 'Consumer' %></h1>   
</div>
    
<div class="box-content">

    <div class="grid_12">
        <div class="column-left content-header relative">
            <p class="big">
                <%= @consumer.name %>
            </p>
            <p class="medium">
                <span id="allowance_header"><%= number_to_currency @consumer.allowance %></span>
                <span> a </span>
                <span id="period_header"><%= (@consumer.allowance_period == 'Weekly') ?(t 'week') :(t 'month') %></span>
            </p>
            <p class="small">
                <span><%= t 'Balance' %></span>
                <span><%= number_to_currency @consumer.balance %></span>
            </p>
            <p><div class="progress"><span style="width: 50%;"></span></div></p>
    
        </div>
        <div class="column-right content-header">
            <% if @consumer.pic?  %>
                <%= image_tag @consumer.pic, :class =>"pic fr" %>
            <% else %>
                <%= image_tag "/images/face_placeholder_small.png", :class =>"pic_or_logo fr"%>
            <% end %>
        </div>
    </div>  
    <div class="grid_12">
        <%= form_for :consumer, :url => {:action => "consumer_update", :id => @consumer.id}, :html => {:id => "allowance_form"} do |f| %>            
    
            <p class="label">
                <span><%= t 'Allowance' %></span>
            </p>
            <p class="formtitle">
                <span><%= t 'Value' %></span>
                <span><%= f.text_field :allowance_display, :id => "allowance_display", :value => number_to_currency(@consumer.allowance), :onchange => "$('#allowance_form').submit();" %></span>       
                <span><%= f.hidden_field :allowance, :id => 'allowance', :onchange => "$('#allowance_form').submit();" %></span>       
            </p>
            <div id="allowance_slider" class="myslider"  onclick="$('#allowance_form').submit();"></div>
    
            <p class="formtitle"><%= t 'Frequency' %></p>
            <%= f.select(:allowance_period, Consumer.human_attribute_name("allowance_period"), :onchange => "$('#allowance_form').submit();")%>
    
            <p class="formtitle"><%= t 'Every' %></p>
            <div id="every">
            <% if @consumer.allowance_period == "Weekly" %>
                <span class="allowance day"><%= f.select(:allowance_day_of_week, Consumer.human_attribute_name("allowance_day_of_week"), :onchange => "$('#allowance_form').submit();")%></span>                
            <% elsif @consumer.allowance_period == "Monthly" %>
                <span class="allowance day"><%= f.select(:allowance_every, Consumer.allowance_days_of_month)%></span>                
            <% end %>
            </div>
    
            <p class="formtitle"><%= t 'Next' %></p>
            <div class="allowance date_picker">
                <input type="text" value="<%=  l @consumer.next_allowance_date, :format => :slash %>" id="next-allowance-date" class="datepicker {validate:{required:true}}" name="date" placeholder="Next grant date"/>                          
                <span class="icon calendar"></span>
            </div>    
            
            <p class="label">
                <span><%= t 'Automatic' %>
            </p>
    
            <p class="formtitle">
                <span><%= t 'Auto. authorize under' %></span>
                <span><%= f.text_field(:auto_authorize_under_display, :value => number_to_currency(@consumer.auto_authorize_under), :onchange => "$('#allowance_form').submit();", :id => "under_display", :size => 10) %></span>
                <span><%= f.hidden_field(:auto_authorize_under, :id => "under") %></span>
            </p>
                <div id="under_slider" class="myslider"  onclick="$('#allowance_form').submit();"></div>
            </p>
    
            <span class="formtitle">
                <span><%= t 'Auto. unauthorize over' %></span>
                <span><%= f.text_field(:auto_deny_over_display, :value => number_to_currency(@consumer.auto_deny_over), :onchange => "$('#allowance_form').submit();", :id => "over_display", :size => 10) %></span>
                <span><%= f.hidden_field(:auto_deny_over,  :id => "over") %></span>
            </span>
            <div id="over_slider" class="myslider"  onclick="$('#allowance_form').submit();"></div>   
        
        <% end %>
    </div>
    
</div>

<script type="text/javascript"> 
$('document').ready(function() {
   
   $('#allowance_form').submitWithAjax(); 
   
   function showSlider(element, inputValue, range, min, max) {

        sliderId = element + '_slider';
        $(function () {
            $(sliderId).slider({
                value: inputValue,
                min: min,
                max: max,
                range: range,
                slide: function(event, ui) {
                    $(element + '_display').val(ui.value +'.00');
                    $(element).val(ui.value +'.00');
                }
                
            });
        });
    };   
        
    showSlider('#allowance', <%= @consumer.allowance %>, 'min', 0, <%= (@consumer.allowance == 0) ?100 :2*@consumer.allowance %>);
    showSlider('#under', <%= @consumer.auto_authorize_under %>, 'min', 0, 100);
    showSlider('#over', <%= @consumer.auto_deny_over %>, 'max', 0, 100);
    
    $('#allowance_day, #consumer_allowance_day_of_week, #consumer_allowance_every').change(function () {
        $('#allowance_form').submit();
    });
    
    $('#consumer_allowance_period').change(function () {
        if ($('#consumer_allowance_period option:selected').html() == 'Weekly') {
            $('#every').empty();
            $('#every').html(
                '<span class="allowance day">' + 
                    <%= select(:consumer, :allowance_day_of_week, Consumer.human_attribute_name('allowance_day_of_week'), :onchange => "$('#allowance_form').submit();", :value => 0) %> +
                '</span>');
            $('#consumer_allowance_day_of_week').val(0);
            $('select').chosen();
            $('#allowance_day, #consumer_allowance_day_of_week, #consumer_allowance_every').change(function () {
            $('#allowance_form').submit();
    });

        }
        else {
            $('#every').empty();
            $('#every').html(
                '<span class="allowance day">' +
                    <%= select(:consumer, :allowance_every, Consumer.allowance_days_of_month)%> +
                '</span>'); 
            $('#date_day').val(1);
            $('select').chosen();                               
            $('#allowance_day, #consumer_allowance_day_of_week, #consumer_allowance_every').change(function () {
            $('#allowance_form').submit();
    });

        }
        $('#allowance_form').submit();     
    });
    
   
})
</script>   