<!doctype html>
<html>
  <head>
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paykido</title> -->

    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=1024px, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Paykido keeps your kids safe</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body id="paykido">
    <div id="container" class="container">
      <%= render 'layouts/header'%>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div> 
  </body>
</html>
